
@model LibrarySystem.Models.Member


<h1>Enter User Details:</h1>

<div class="container center_div">
    <div class="row">
        <div class="col-md-6">
            <form method="post" asp-action="DeletePost" autocomplete="off">
                <input asp-for="MemberId" hidden />
                <div class="form-group form-row">
                    <label asp-for="MemberName"></label>
                    <input type="text" class="form-control" asp-for="MemberName" disabled/>
                    <span asp-validation-for="MemberName" class="text-danger"></span>
                </div>
                <div class="form-group form-row">
                    <label asp-for="MemberGender"></label>
                    <select type="text" class="form-control" asp-for="MemberGender" disabled>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="form-group form-row">
                    <label asp-for="MemberDOB"></label>
                    <input type="date" class="form-control" asp-for="MemberDOB" disabled/>
                </div>
                <div class="form-group form-row">
                    <label asp-for="PhoneNumber"></label>
                    <input type="number" class="form-control" asp-for="PhoneNumber" maxlength="10" disabled/>
                </div>
                <div class="form-group form-row">
                    <label asp-for="Email"></label>
                    <input type="text" class="form-control" asp-for="Email" disabled/>
                </div>
                <div class="form-group form-row">
                    <label asp-for="Profession"></label>
                    <input type="text" class="form-control" asp-for="Profession" disabled/>
                </div>
                <div class="form-group form-row">
                    <label asp-for="StreetAddress"></label>
                    <input class="form-control" asp-for="StreetAddress" disabled/>
                </div>
                <div class="form-group form-row">
                    <label asp-for="City"></label>
                    <input type="text" class="form-control" asp-for="City" disabled/>
                </div>
                <div class="form-group form-row">
                    <label asp-for="Country"></label>
                    <input type="text" class="form-control" asp-for="Country" disabled/>
                </div>
                <div class="form-group form-row">
                    <div class="col-6">
                        <input type="submit" class="btn btn-danger w-75" value="Delete" />
                    </div>
                    <div class="col-6">
                        <a class="nav-link text-white w-75 btn btn-success" asp-area="" asp-controller="Member" asp-action="Index">Back</a>
                    </div>
                </div>
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
            </form>
        </div>
    </div>
</div>
