@model LibrarySystem.Models.Book
@{
    ViewData["Title"] = "Book Details";
}

<h1 class="text-info">Book Details:</h1>

<div class="container center_div">
    <div class="row">
        <div class="col-md-6">
            <form autocomplete="off">
                <input asp-for="BookId" hidden disabled />
                <input type="text" class="form-control" asp-for="isAvailable" style="display:none" disabled />
                <div class="form-group form-row">
                    <label asp-for="BookName"></label>
                    <input type="text" class="form-control" asp-for="BookName" disabled />
                    <span asp-validation-for="BookName" class="text-danger"></span>
                </div>
                <div class="form-group form-row">
                    <label asp-for="BookEdition"></label>
                    <input type="number" class="form-control" asp-for="BookEdition" min="1" disabled />
                </div>
                <div class="form-group form-row">
                    <label asp-for="BookYear"></label>
                    <input type="number" class="form-control" asp-for="BookYear" disabled />
                    <span asp-validation-for="BookYear" class="text-danger"></span>
                </div>
                <div class="form-group form-row">
                    <label asp-for="BookPublisher"></label>
                    <input type="text" class="form-control" asp-for="BookPublisher" disabled />
                    <span asp-validation-for="BookPublisher" class="text-danger"></span>
                </div>
                <div class="form-group form-row">
                    <label asp-for="BookLanguage"></label>
                    <input type="text" class="form-control" asp-for="BookLanguage" disabled />
                    <span asp-validation-for="BookLanguage" class="text-danger"></span>
                </div>

                <div class="form-group form-row">
                    <label asp-for="AuthorId"></label>
                    <select asp-for="AuthorId" asp-items="ViewBag.TypeDropDown" class="form-control" disabled>
                    </select>
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>
            </form>

            <div>
                @using (Html.BeginForm("Index", "BookAllocation", FormMethod.Get))
                {
                    @if (TempData["BName"].ToString() != "")
                    {
                        @Html.TextBox("BName", TempData["BName"], new { hidden = "hidden" })
                    }
                    @if (TempData["AName"].ToString() != "")
                    {
                        @Html.TextBox("AName", TempData["AName"], new { hidden = "hidden" })
                    }
                    <input type="submit" class="btn btn-primary text-white mx-2 row col-4" value="Back" />
                }
            </div>
        </div>
    </div>
</div>


@{
    TempData.Keep("AName");
    TempData.Keep("BName");
}